* {
	font-family: Helvetica, sans-serif;
}

body {
	padding: 0;
	margin: 10;
	background-color: white;
}

header {
	color: white;
	background-color: #1B1BB3;
	padding: 20px;
}

#content {
	padding: 10px;
	padding-left: 20px;
	background-color: #FBBF00;
}

footer {
	color: white;
	background-color: #1B1BB3;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}